.hero-portfolioitem{


    width: 100%;
    max-height: 700px;
    border-radius: 0 !important;
    margin-bottom: 2rem;
}


.portfolioitem-info{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}

.p-bold{


    font-weight: bold;
}


button.goback{


    position: absolute;
    top: 10rem;
    left: 2rem;
    transition: all 500ms;
    background-color: var(--blue);

}

 a button{color: black;}
 
button.goback:hover{

   background-color: var(--darkBlue);
   color: white;

}

button.goback.active{

    opacity: 0;
}

ul{

    list-style: disc;
    padding-left: 1rem;
    padding-top: 0.5rem;
}