body{padding-bottom: 10rem!important;}

.hero-portfolioitem{


    width: 100%;
    max-height: 700px;
    border-radius: 0 !important;
    margin-bottom: 2rem;
}


.portfolioitem-info{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}


.portfolio-image{


    width: 100%!important;
    border-radius: 0!important;
}

.portfolio-image:hover{

scale: 1.5;
transition: all 200ms ;
}

video{border-radius: 10px;}
.p-bold{


    font-weight: bold;
}


button.goback{


    position: absolute;
    top: 10rem;
    left: 2rem;
    transition: all 500ms;
    background-color: var(--blue);

}

 a button{color: black;}
 
button.goback:hover{

   background-color: var(--darkBlue);
   color: white;

}

button.goback.active{

    opacity: 0;
}

ul{

    list-style: disc;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

@media screen and (max-width: 560px){


    .portfolioitem-info{
        width: 100%;
        padding: 1rem;
    }

    header{
        height: 3rem;
            }
            nav{flex-direction: column!important;}
        ul{display: none!important;}
        nav .download_cv{display: none!important;}

        button.goback{
            top: 5rem;
            left: 1rem!important;
            width: 4rem;
            background-size: cover;
            background-position: left;
            padding: 1rem;
        }
.goback img{
    
    width: 60%;
    left: 50%;
}
        button.goback h3{display: none;}

}
